<h1>Create</h1>

<a href="#/dash">Back to Dashboard</a>

<h3>Put the question and options here:</h3><br>
    <div ng-messages='new_poll.question.$error'>
      <p ng-message='minlength'>The question requires 8 charaters</p>
      <p ng-message='required'>question required</p>
    </div>

<form name="new_poll">
	<p>Question: <input type="text" name="question" required ng-model="q.question"></p>
	<p>Option1: <input type="text" name="" ng-model="q.option1"></p>
	<p>Option2: <input type="text" name="" ng-model="q.option2"></p>
	<p>Option3: <input type="text" name="" ng-model="q.option3"></p>
	<p>Option4: <input type="text" name="" ng-model="q.option4"></p>
	<input type="submit" name="" ng-click="create()">

</form>

<h3>Put the question and options here:</h3><br>
    <div ng-messages='surveyform.question.$error'>
      <p ng-message='minlength'>The question requires 8 charaters</p>
      <p ng-message='required'>question required</p>
    </div>
    <div ng-messages='surveyform.o1.$error'>
      <p ng-message='minlength'>option requires 3 charaters</p>
      <p ng-message='required'>option required</p>
    </div>
    <div ng-messages='surveyform.o2.$error'>
      <p ng-message='minlength'>option requires 3 charaters</p>
      <p ng-message='required'>option required</p>
    </div>
    <div ng-messages='surveyform.o3.$error'>
      <p ng-message='minlength'>option requires 3 charaters</p>
      <p ng-message='required'>option required</p>
    </div>
    <div ng-messages='surveyform.o4.$error'>
      <p ng-message='minlength'>option requires 3 charaters</p>
      <p ng-message='required'>option required</p>
    </div>
  <form name="surveyform">
    Question: <input type="text" name='question' ng-minlength='8' required ng-model='newSurvey.question'><br>
    Option 1: <input type="text" name='o1' ng-minlength='3' required ng-model='newSurvey.o1'><br>
    Option 2: <input type="text" name='o2' ng-minlength='3' required ng-model='newSurvey.o2'><br>
    Option 3:  <input type="text" name='o3' ng-minlength='3' required ng-model='newSurvey.o3'><br>
    Option 4:  <input type="text" name='o4' ng-minlength='3' required ng-model='newSurvey.o4'><br>

    <input type="button" ng-click='addNewSurvey()' value="Create Poll">
  </form>